{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h2 class="text-center">Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <center><button type="submit" class="btn btn-primary">Login</button></center>
            </form>
        </div>
    </div>
</div>
{% endblock %}
